# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Popular Languages used by Data Scientist
* Commonly used libraries used by Data Scientist
* Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are

    1. Julia
    2. Python
    3. R
    4. C++

Some of the commonly used libraries used by Data Scientists include:

    1. Matplotlib
    2. Tensorflow
    3. Keras
    4. Scipy

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|Hadoop|
|Spark|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author

Miguel √Ångel Cuadra